.containerAlojamiento {
   background-color: #1C3D5A;
   padding: 10px !important;
   position: absolute;
   z-index: -1;
   top: 90px;
}

.banner-container {
    position: relative;
    left: 0;
    width: 100%;

    z-index:0; /* Hace que el banner esté por encima de la imagen */
}

.banner-img {
    width: 100%;
    display: block;
}

.banner-text {
    text-decoration: none;
    position: absolute;
    top: 50%; /* Centra el texto dentro del banner */
    left: 50%;
  
    transform: translate(-50%, -50%);
    color: #1C3D5A;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 80%;
  
}

.ocultar {
    display: none;
}

.banner-text span {
    color: #e07c2f;
    text-decoration: none !important;
}

.btnReservas {
    border-radius: 30px;
    color: #1C3D5A !important;
    border: 1px solid #1C3D5A;
}

.btnReservas:hover{
    color: white !important;
    background-color: #1C3D5A  !important;
    font-weight: 800;
}

.btn-custom {
    background-color: #1C3D5A;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
}
.btn-custom:hover {
    background-color: #e07c2f;
    color: white;
}

.contenedor{
padding-top: 2px !important;
background-color: #f5f5f5;
}

.contenedor img {
    border-radius: 5px;
}

.textoRancho {
    color: #1C3D5A;
    font-weight: 700;
}

.png {
    height: 200px;
}

.btnReservas-Activo {
    color: white !important;
    background-color: #1C3D5A  !important;
    font-weight: 800;
    border-radius: 30px !important;
}


  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Some basic CSS overrides */


/* End basic CSS override */

* {
	scrollbar-width: 0;
}

*::-webkit-scrollbar {
	background-color: transparent;
	width: 12px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 99px;
	background-color: #ddd;
	border: 4px solid #fff;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-container {
	max-height: 65vh;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border-radius: 16px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 0 15px 30px 0 rgba(#000, 0.25);
	@media (max-width: 600px) {
		width: 90%;
	}
}

.modal-container-header {
	padding: 16px 32px;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-container-title {
	display: flex;
	align-items: center;
	gap: 8px;
	line-height: 1;
	font-weight: 700;
	font-size: 1.125;
	svg {
		width: 32px;
		height: 32px;
		color: #1C3D5A;
	}
}

.modal-container-body {
	padding: 24px 32px 51px;
	overflow-y: auto;
}

.rtf {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
	}

	h1 {
		font-size: 1.5rem;
		line-height: 1.125;
	}

	h2 {
		font-size: 1.25rem;
		line-height: 1.25;
	}

	h3 {
		font-size: 1rem;
		line-height: 1.5;
	}

	& > * + * {
		margin-top: 1em;
	}

	& > * + :is(h1, h2, h3) {
		margin-top: 2em;
	}

	& > :is(h1, h2, h3) + * {
		margin-top: 0.75em;
	}

	ul,
	ol {
		margin-left: 20px;
		list-style-position: inside;
	}

	ol {
		list-style: numeric;
	}

	ul {
		list-style: disc;
	}
}

.modal-container-footer {
	padding: 20px 32px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid #ddd;
	gap: 12px;
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: -51px;
		left: 24px;
		right: 24px;
		height: 50px;
		flex-shrink: 0;
		background-image: linear-gradient(to top, rgba(#fff, 0.75), transparent);
		pointer-events: none;
	}
}

.button {
	padding: 12px 20px;
	border-radius: 8px;
	background-color: transparent;
	border: 0;
	font-weight: 600;
	cursor: pointer;
	transition: 0.15s ease;

	&.is-ghost {
		&:hover,
		&:focus {
			background-color: #dfdad7;
		}
	}

	&.is-primary {
		background-color: #1C3D5A;
		color: #fff;
		&:hover,
		&:focus {
			background-color: #e07c2f;
		}
	}
}

.icon-button {
	padding: 0;
	border: 0;
	background-color: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	cursor: pointer;
	border-radius: 8px;
	transition: 0.15s ease;
	svg {
		width: 24px;
		height: 24px;
	}

	&:hover,
	&:focus {
		background-color: #dfdad7;
	}
}

